.cards
    .card
        .img-container.card-img-top
            .corner-banner
                span.discount -15%
            img(src='images/card-1.jpg', alt='Card image cap')
            .img-text
                span.top-text Menorca
                span.bottom-text 8 días / 7 noches
        .card-block
            p
                i.plane
                | Vuelo
                b Ryanair
            p
                i.bed
                | Hotel Sea San Anton Hotel & Spa
                span.star
            p
                i.car
                | Fiat 500 o similar
        footer.card-footer
            .price
                span.text
                    | desde
                span.amount
                    | 339€
            button.btn Reservar
    .card
        .img-container.card-img-top
            .corner-banner
                span.discount -15%
            img(src='images/card-2.jpg', alt='Card image cap')
            .img-text
                span.top-text Cancun
                span.bottom-text 8 días / 7 noches
                span.banner Todo Incluido
        .card-block
            p
                i.plane
                | Vuelo regular
            p
                i.bed
                | Flamingo Cancún
                span.star
            p
                i.car
                | Translados aeropueto
        footer.card-footer
            .price
                span.text
                    | desde
                span.amount
                    | 339€
            button.btn Reservar
    .card
        .img-container.card-img-top
            .corner-banner
                span.discount -15%
            img(src='images/card-3.jpg', alt='Card image cap')
            .img-text
                span.top-text Menorca
                span.bottom-text 8 dias / 7 noches
        .card-block
            p
                i.plane
                | Vuelo
                b Ryanair
            p
                i.bed
                | Hotel Sea San Anton Hotel & Spa
                span.star
            p
                i.car
                | Fiat 500 o similar
        footer.card-footer
            .price
                span.text
                    | desde
                span.amount
                    | 339€
            button.btn Reservar
    .card
        .img-container.card-img-top
            .corner-banner
                span.discount -15%
            img(src='images/card-1.jpg', alt='Card image cap')
            .img-text
                span.top-text Menorca
                span.bottom-text 8 dias / 7 noches
        .card-block
            p
                i.plane
                | Vuelo
                b Ryanair
            p
                i.bed
                | Hotel Sea San Anton Hotel & Spa
                span.star
            p
                i.car
                | Fiat 500 o similar
        footer.card-footer
            .price
                span.text
                    | desde
                span.amount
                    | 339€
            button.btn Reservar