.container-fluid.main-image
    #carouselExampleSlidesOnly.carousel.slide(data-ride='carousel')
        .carousel-inner(role='listbox')
            .carousel-item.active
                img.img-fluid(src='images/main_img.jpg', alt='Hoteles de la playa')
            .carousel-item
                img.img-fluid(src='images/main_img.jpg', alt='Hoteles de la playa')
            .carousel-item
                img.img-fluid(src='images/main_img.jpg', alt='Hoteles de la playa')