.heading.row
    .col.col-xl-6.col-sm-12
        i.suit-case
        .title
            h1 #{title}
            .flex
                p Tus vacacciones con un 15% Descuento...
                .drop-down-group
                    #dropdownMenuDestination.flex(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        span.drop-down desde Madrid
                        i.fa.fa-angle-down
                    .dropdown-menu(aria-labelledby='dropdownMenuDestination')
                        a.dropdown-item(href='#') Mallorca
                        a.dropdown-item(href='#') Barcelona
    .col.col-xl-6.testimonial
        .details
            p.destination Pedro y Raquel viajáron a Budapest
            p.package
                | Vuelo + hotel 5 días y 4 noches
                span.price por sólo €295
        i.avatar