nav.nav.secondary-nav.flex-column.flex-sm-row
    a.flex-sm-fill.text-sm-center.nav-link.active(href='#') Destacados
    a.flex-sm-fill.text-sm-center.nav-link(href='#') Baleares y Canarias
    a.flex-sm-fill.text-sm-center.nav-link(href='#') Capitales Europas
    a.flex-sm-fill.text-sm-center.nav-link(href='#') Medditerráneo
    a.flex-sm-fill.text-sm-center.nav-link(href='#') Largo Distancia