extends layout

block content
  include partials/_carousel
  .container-fluid.main-content
    .container
      include partials/_heading
      include partials/_secondary_nav
      include partials/_cards


