extends layout

block content
    .container-fluid.main-content.header-height
        .container
            include partials/_heading
            include partials/_secondary_nav
            include partials/_cards