//colors
$White: #fff;
$Black: #000;
$Alabaster: #f8f8f8;
$Orient: #005591;
$VeniceBlue: #064d80;
$Mariner: #2980b9;
$SilverChalice: #9E9E9E;
$Silver: #b8b8b8;
$Cinnabar: #e74c3c;
$YellowSea: #faaf05;

//main
$background: $Alabaster;

//header area
$header-text: $White;
$search-bar-bg:$White;

//nav
$nav-primary: $Orient;
$nav-secondary: $VeniceBlue;
$nav-border: $Mariner;
$secondary-nav-bg: $White;
$nav-text: $White;

//text
$text-primary: $SilverChalice;
$text-secondary: $Black;
$text-input: $Silver;
$text-highligted: $VeniceBlue;

//banners
$banner-bg: $Cinnabar;
$conner-banner: $Cinnabar;
$banner-text: $White;

//cards
$card-primary: $YellowSea;
$card-img-text: $White;
$card-footer-bg: $White;

//footer
$footer-primary: $Orient;
$footer-secondary: $VeniceBlue;
$footer-text: $White;
